* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  background-color: #f42;
}

.App {
  border: 3px solid #000;
  border-radius: 25px;
  background-color: orange;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  height: 450px;
  margin-top: 60px;
  margin-left: 150px;
}

.title {
  margin-top: -40px;
  text-align: center;
  font-family: sans-serif;
}

.step-1 {
  margin-top: 40px;
  text-align: left;
  font-family: sans-serif;
  font-weight: bold;
}

.step-1-option {
  border: 2px solid orange;
  border-radius: 50px;
  width: 150px;
  height: 25px;
  margin-left: 50px;
  margin-bottom: 20px;
  font-family: sans-serif;
  font-weight: bold;
}

.btn {
  width: 150px;
  height: 25px;
  border: 2px solid orange;
  border-radius: 25px;
  margin-top: 20px;
  margin-left: 50px;
}
